table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

th, td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tr:last-of-type {
    border-bottom: 2px solid #009879;
}

main {
    max-width: 60rem;
    margin: auto;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
}

.high-absence {
    color: rgb(210, 0, 0);
}

.medium-absence {
    color: rgb(199, 131, 5);
}

a {
    color: blue;
}
